/* 
 
    font-family: 'Dancing Script',
    cursive;

    font-family: 'Noto Sans JP',
    sans-serif;
*/

body{
  color: white;

}

.page-header{
  background-color: #194039;
  padding: 20px;
}

.page-header .header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  width: 70%;
  margin: 0 auto;
}


.page-header .logo{
  display: inline-block;
  padding: 20px;
  font-size: 18px;
}

.page-header ul li {
  display: inline-block;
  padding: 20px;
}


.page-header ul li a{
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.page-header ul li:last-child a{
  background-color: #4c646093;
  padding: 19px 50px;
    color: #F2D852;
}

/* ----------- */

.content-area{
  background-color: #194039;
  width: 100%;
  height: 80vh;
  position: relative;
}


.content-area .container{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.content-area .left-side{
  position: relative;
  width: 50%;
}

.content-area .left-side h1{
 font-size: 5rem;
 margin-top: 150px;
}

.content-area .left-side .circle{
  display: inline-block;
  background-color: rgb(20, 19, 19);
  padding: 20px 15px;
  border-radius: 47%;
  font-size: 1.5rem;
  color: #F2D852;
  font-weight: 600;
  position: absolute;
  top: 180px;
  left: 500px;
  transform: rotate(-20deg);
}

.content-area .left-side p {
  font-size: 16px;
  width: 350px;
  letter-spacing: 1.2px;
  margin-top: 50px;
  line-height: 1.5;
}

.content-area .left-side form{
  margin-top: 50px;
  position: relative;
}

.content-area .left-side form input{
  padding: 30px 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
}


.content-area .left-side form button{
  padding: 25px 30px;
  color: #194039;
  font-weight: 600;
  margin-left: 30px;
  position: absolute;
  top: 10px;
}

/* -------------- */
.content-area .container .right-side{
  width: 50%;
  margin-top: 80px;
  position: relative;
  top: 0;
  left: 0;
}

.content-area .container .right-side .overlay{
  display: flex;
  justify-content:flex-end;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
}

.content-area .container .right-side .overlay img{
  width: 540px;
  height: 640px;
  border-radius: 3px;
}

.profile{
  position: absolute;
  top: 500px;
  left: 48vw;
  background-color: #1a7166;
  padding: 271px 240px 40px 40px;
  border-radius: 3px;
  display: flex;
  z-index: 1;
}

.profile img{
  width: 120px;
  height: 120px;
  border: 1px solid #F2D852;
  border-radius: 5px;
}
.profile .profile_info{
  width: 500px;
  padding: 20px;
}

.profile .profile_info h3{
  font-family: 'Pacifico',cursive;
  font-size: 2rem;
  color: #F2D852;
}

.profile .profile_info p{
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.2px;
}

/* ------------------------- */

.details{
  width: 100%;
  background-color: #f5e4c9;
  /* background-color: #EBE3D6; */
  padding-top: 25rem;
  padding-bottom: 12em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .details_left{
  position: relative;
  top: 0;
  left: 0;
  width: 55%;
}

.details .details_left .box{
  background-color: #1a7166;
  padding: 270px 0px;
  width: 87%;
  margin: 0 auto;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.details .details_left .circle{
  display: inline-block; 
  background-color: rgb(20, 19, 19);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 130px;
  transform: rotate(-20deg);
  line-height: 1.2;
}

.details .details_left .circle .circle-overlay{
  border: 1px solid #F2D852;
  border-radius: 50%;
  padding: 25px 10px;
  
}

.details .details_left .circle h2{
  padding: 15px;
  font-size: 1.2rem;
  color: #F2D852;
  font-weight: 600;
  text-align: center;
}

.details .details_left img{
  filter: brightness(90%);
  border-radius: 3px;
}

.details .details_left .photographer{
  width: 450px;
  height: 530px;
  position: absolute;
  top: 110px;
  left: 170px;
}

.details .details_left .painter {
  position: absolute;
  top: 150px;
  left: 680px;
  width: 450px;
  height: 320px;
}

/* ----------------- */

.details .details_right{
  width: 45%;
  z-index: 1;
}

.details .details_right .description{
  width: 490px;
  margin: auto;
}

.details .details_right .description h2{
  font-size: 2rem;
  font-weight: 600;
  color: #194039;
  margin-bottom: 40px;
}

.details .details_right .description p{
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.details .details_right .description button {
  padding: 20px 40px;
  margin: 30px 0;
  border-radius: 5px;
  border: 0;
  background: #1a7166;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.details .details_right .description .curved-arrow{
    width: 136px;
    height: 51px;
    transform: rotate(-30deg);
    margin-left: 160px;

}

/* -------------- */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #194039;
  padding-top: 70rem;
  padding-bottom: 1rem;

}
footer .social-media .fab{
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

footer .business-detail{
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
  line-height: 2;
}

footer .business-detail .terms-privacy a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: center;
}

footer .business-detail .terms-privacy a:hover{
  color: #1a7166;
}

footer .business-detail .rights {
  font-size: 15px;
}